# Ignore generated Vivado stuff 
*.cache
*.hw
*.runs
*.sim
*.gen
*.bin
*.elf
*.o
*.jou
*.log
*.str
*.xpr
*.ip_user_files
*build
*.Xil
*.srcs
*.txt
*.hex
*.inc

# Ignore generate Vitis stuff
_ide/
.rigel_lopper/
.vscode/
ip/
ui/

# Keep important files
!*.wcfg
!RTL/
!Simulation
!Vitis
!Constraints
!BD