# Ignore generated Vivado stuff 
*.cache
*.hw
*.runs
*.sim
*.gen
*.bin
*.elf
*.o
*.jou
*.log
*.str

# Ignore generate Vitis stuff
_ide/
.rigel_lopper/
.vscode/

# Keep important files
!*.xpr
!*.wcfg
!RISC-V*srcs/
!RISC-V*ip_user_files/

*build